/*==============
  Mobile Menu
================*/
.navbar-header {
    position: relative;
}
#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    /*hide mobile nav open button*/
    display: none;
}
#mobile-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    overflow-y: hidden;
    height: 0%;
}
#mobile-nav-close-btn {
    font-family: 'Raleway',sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    transition: .3s;
    -webkit-transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav ul li {
    margin-bottom: 20px;
}
#mobile-nav a {
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    transition: .3s;
    -webkit-transition: .3s;
}
#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
    background: none;
}
.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: #f4c613;
    font-weight: 500;
}

/*Large Devices*/

@media (min-width: 1200px) and (max-width: 1299px) {
    /*Navigation*/
    .site-nav-wrapper {
        padding: 0 20px;
    }
}

/*Medium Devices*/

@media (min-width: 992px) and (max-width: 1199px) {
    /*Navigation*/
    .site-nav-wrapper {
        padding: 0;
    }
    
    /*Pause Button*/
    .pause i {
        left: 5rem;
        top: 50rem;
    }
    /*Generic*/
    .vertical-heading h2 {
        font-size: 28px;
    }
    /*Services Tabs*/
    #services-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }
    .service-tab p {
        line-height: 20px;
    }
}


/*Small Devices*/

@media (min-width: 768px) and (max-width: 991px) {
    /*Navigation*/
    .site-nav-wrapper {
        padding: 0;
    }
    
    /*Pause Button*/
    .pause i {
        left: 5rem;
        top: 50rem;
    }
    /*Home*/
    #home-heading h1 {
        font-size: 40px;
    }
    #home-text p {
        font-size: 14px;
    }
    
    /*Generic*/
    .btn-general {
        padding: 8px 34px 8px 34px;
        font-size: 10px;
    }
    .vertical-heading h2 {
        font-size: 28px;
    }
    /*Tech Statement*/
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }
    /*Services*/
    .service .icon {
        font-size: 32px;
        margin-left: 14px;
    }
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }
    /*Active Tabs*/
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 4px;
        transition: border-color 300ms linear;
        -webkit-transition: border-color 300ms linear;
    }
    /*Pricing*/
    .pricing-table .price h2 {
        margin: 0 0 0 6px;
        font-size: 34px;
    }
    /*Stats*/
    #stats .vertical-heading h5 {
        margin-left: 14px;
    }
    .stats-item p {
        line-height: 18px;
    }
    /*Blog*/
    .blog-post .post-meta p {
        line-height: 14px;
    }
    /*Contact*/
    ul.office-details li i {
        width: 25px;

    }
    ul.office-details li {
        margin-right: 16px;
    }
}

/*Extra Small Devices*/
@media (max-width: 767px) {
    /*Mobile menu Button*/
    #mobile-nav-open-btn {
        display: block;
    }
    
    /*Navigation*/
    .site-nav-wrapper, .white-nav-top {
        padding: 0;
    }
    .navbar {
        padding: 20px 0;
    }
    
    /*Home*/
    #home-heading h1 {
        font-size: 22px;
    }
    #home-text p {
        font-size: 12px;
        line-height: 18px;
        margin: 8px 2px 30px 2px;
    }
     .pause i {
        left: 5rem;
        top: 50rem;
    }
    
    /*Generic*/
    .btn-general {
        padding: 8px 24px 8px 24px;
        font-size: 10px;
    }

    /*About 01*/
    /*Large content Box*/
    .content-box-lg {
        padding: 80px 0;
    }

    /*Vertical Heading*/
    .vertical-heading {
        text-align: center;
    }
    .vertical-heading h5 {
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 14px;
        font-size: 18px;

    }
    .vertical-heading h2 {
        font-size: 28px;
        line-height: normal;
        margin: 0;
    }
    /*Vertical Heading*/
    #about-left {
        margin-bottom: 40px;
    }
    #about-right {
        text-align: center;
    }

    /*About 02*/
    /*Medium Content Box*/
    .content-box-md {
        padding: 80px 0;
    }

    .about-item {
        padding: 54px 30px;
        margin-bottom: 28px;
    }

    .about-item i {
        font-size: 30px;
    }
    .about-item h3 {
        font-size: 18px;
    }

    /*Team*/
    #team-left .vertical-heading {
        min-height: 120px;
    }
    .skill h4 {
        font-size: 14px;
        line-height: 34px;
    }

    /*Statement*/
    #tech-statement h3 {
        font-size: 28px;
        line-height: 30px;
    }

    /*Services*/
    /*Horizontal headings*/
    .horizontal-heading {
        margin-bottom: 40px;
    }
    .horizontal-heading h2 {
        font-size: 30px;
    }

    #services-01 img {
        margin: 34px 0;
    }
    .service {
        text-align: center;
    }
    .service .icon {
        text-align: center;
        font-size: 32px;
    }
    .service h4 {
        font-size: 18px;
    }
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }
    /*Active Tabs*/
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 4px;
        transition: border-color 300ms linear;
        -webkit-transition: border-color 300ms linear;
    }
    #services-tabs .tab-bg {
        text-align: center;
    }
    #services-tabs h2 {
        font-size: 38px;
    }
    #services-tabs h3 {
        font-size: 28px;
    }

    /*Portfolio*/
    #portfolio {
        padding-bottom: 0;
    }
    #isotope-filters button {
        padding-right: 14px;
    }

    /*Testimonials*/
    #testimonials {
        padding-top: 44px;
    }
    #testimonial-slider {
        top: 0;
    }
    #testimonials .vertical-heading {
        padding: 0;
    }
    .testimonial .row {
        margin: 0;
    }
    .testimonial h3 {
        font-size: 20px;
    }
    .testimonial .stars {
        font-size: 16px;
    }
    .author img {
        width: 80px !important;
    }

    /*Pricing*/
    .pricing-table {
        margin-bottom: 30px;
    }
    .pricing-table .price h2 {
        font-size: 28px;
        margin: 0 0 0 16px;
    }

    /*Stats*/
    .stats-item {
        margin-bottom: 20px;
        padding: 25px 5px;
    }
    .stats-item i {
        font-size: 30px;
    }
    .stats-item h3 {
        font-size: 24px;
    }

    /*Blog*/
    #blog-left {
        text-align: center;
        margin-bottom: 30px;
    }
    .blog-post {
        margin-bottom: 24px;
    }

    /*Contact*/
    #contact-left {
        text-align: center;
    }
    .office {
        margin-bottom: 40px;
    }
    ul.office-details li {
        display: block;
        margin-top: 24px;
    }
    ul.office-details li i {
        width: auto;
        display: block;
        margin-bottom: 4px;
    }
    ul.social-list {
        margin-bottom: 40px;
    }
}


/*Extra Smaller Devices*/

@media (max-width: 480px) {
    /*Home*/
    #home-heading h1 {
        font-size: 18px;
    }
    #home-text p {
        font-size: 12px;
        line-height: 16px;
        margin: 8px 10px 26px 10px;
    }

    /*Generic*/
    .vertical-heading h2 {
        font-size: 22px;
    }

    /*Portfolio*/
    #isotope-filters button {
        font-size: 10px;
        padding-right: 14px;
    }
    #isotope-filters {
        text-align: center;
    }

    /*Testimonials*/
    .testimonial h3 {
        font-size: 18px;
        line-height: 18px;
    }
    .testimonial .stars {
        font-size: 12px;
    }

}

/*Extra Smallest Devices*/

@media (max-width: 320px) {
    /*Testimonials*/
    .testimonial h3 {
        font-size: 12px;
        line-height: 16px;
    }
    .testimonial .stars {
        font-size: 10px;
    }
}









































